<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail Contact</title>
  </head>
  <body>
   <h1>Detail Contact</h1>
   <% if (!contact) { %>
      <h2>Data <%= contact %> tidak Ada</h2>
   <% } else { %>
   <div class="container">
      <div class="card">
         <div class="title"><%= contact.nama %></div>
         <div class="nomor"><%= contact.noHP %></div>
         <div class="email"><%= contact.email %></div>
         <a href="/contact/edit/<%= contact.nama %>">Edit</a>
         <!-- <a href="/contact/delete/<%= contact.nama %>" onclick="return confirm('yakin menghapus kontak')">Hapus</a> -->
         <form action="/contact?_method=DELETE" method="POST">
            <input type="hidden" name="nama" value="<%= contact.nama %>">
            <button type="submit">Hapus</button>
         </form>
         <a href="/contact">Back</a>
      </div>
   </div>
   <% } %>
  </body>
</html>
